body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    background: whitesmoke;
}

header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav a {
    color: rgb(250, 250, 250);
    text-decoration: none;
    margin-left: 20px;
    font-size: 1em;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#map {
    width: 80%;
    height: 80%;
    border: 2px solid #333;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

button {
    color: rgb(255, 255, 255);
    background-color: #66676a;
    padding: 5px;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid #333;
}

button:hover {
    text-decoration: underline;
    color: rgb(63, 63, 80);
}

button {
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    margin-left: 90%;
    font-size: 20px;
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-right: 2px;
}

#testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.testimonial-heading {
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonial-heading h1 {
    font-size: 2.2rem;
    font-weight: 500;
    background-color: black;
    color: white;
    padding: 10px 20px;
}

.testimonial-heading span {
    font-size: 1.3rem;
    color: #252525;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.testimonial-box {
    width: 500px;
    box-shadow: 2px 2px 30px rgba(17, 16, 16, 0.77);
    background-color: whitesmoke;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
    border-radius: 15px;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile {
    display: flex;
    align-items: center;
}

.name-user {
    display: flex;
    flex-direction: column;
}

.name-user strong {
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-user span {
    color: #979797;
    font-size: 0.8rem;
}

.reviews {
    color: gold;
}

.box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-comment p {
    font-size: 0.9rem;
    color: #4b4b4b;
}

.testimonial-box:hover {
    transform: translateY(-10px);
    transition: all ease 0.3s;
}

.reviews-container{
    position: relative;
    
}

.reviews-container form {
    
    box-shadow: 0 15px 15px 0 rgba(17, 16, 16, 0.279);
    background: whitesmoke;
    padding: 30px 40px;
    position: relative;
    transform-origin: top;
    transform: scale(0);
    transition: 0.3s 0.2s ease-out;

}

.reviews-container form::after {
    position: absolute;
    content: '';
    border: 15px solid transparent;
    border-bottom-color: whitesmoke;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

form h2 {
    font-size: 3em;
    text-align: center;
    font-weight: 300;
    letter-spacing: 2px;
}

form input {
    border: none;
    outline: none;
    background: none;
    font-size: 1.5em;
    border-bottom: 2px solid #222;
    margin: 10px;
    margin-top: 20px;
    width: 43%;
}

.msgbox {
    width: 93%;
}

.btn {
    border: none;
    font-size: 1.5em;
    color: white;
    background: grey;
    width: 25%;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn:hover {
    box-shadow: 0 15px 15px 0 rgba(17, 16, 16, 0.77);
}

input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
}

label i {
    font-size: 2em;
    color: white;
    background: purple;
    position: absolute;
    z-index: 111;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s 0.7s ease-in;
}
label i:hover{
    animation: animate 0.1s 5 linear;
}
@keyframes animate{
    from{
        left: 49.5%
    }
    to{
        left: 50%;
    }
}

.fa-pencil{
    padding:20px;
}

.fa-times{
    padding:20px 26px;
    transform: scale(0);
}

#check:checked ~ .reviews-container form {
    transform: scale(1);
    transition: 0.3s 0.5s ease-out;
}

#check:checked ~ label i{
    top:10%;
    margin-top: -40px;
    transform: translate(-50%,-50%);
    transition-delay:0.2s ;
}

#check:checked ~ label .fa-pencil{
    transform: scale(0);
}